<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Live</title>
</head>
<body>
    <input type="search"
            name="keyword" placeholder="Search movies..."
            hx-post="{% url 'list'%}"
            hx-trigger="load, input changed delay:500ms,keyword"
            hx-target="#search-results"
            hx-indicator=".htmx-indicator"
            hx-headers='{"X-CSRFToken":"{{csrf_token}}"}'
    >
    <br>
    <span class="htmx-indicator">
        Searching...
    </span>
    <div id="search-results"></div>

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>    
</body>
</html>